<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/edit/{{ session[0][0] }}", method="POST">
        <!-- Text input -->
        <div class="form-outline mb-4">
            <input type="text" name="title" id="form6Example3" class="form-control" />
            <label class="form-label" for="form6Example3">TITLE</label>
        </div>
        
        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" name="desc" id="form6Example7" rows="4" >{{ session[0][2] }}</textarea>
            <label class="form-label" for="form6Example7">Additional information</label>
        </div>
        
        <!-- Text input -->
        <div class="form-outline mb-4">
            <input type="text" name="author" id="form6Example4" class="form-control" value="{{ session['username'] }}" />
            <label class="form-label" for="form6Example4">AUTHOR</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-danger btn-block mb-4">Submit</button>
    </form>

</body>
</html>