<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <style>
        table,
        th,
        td {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        th {
            font-size: 20px;
            background-color: bisque;
        }
    </style>
</head>

<body>
    <h1>List Page</h1>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Date</th>
                <th>Etc</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Author</th>
                <th>Date</th>
                <th>Etc</th>
            </tr>
        </tfoot>

        <tbody>


            {% for x in data %}
            <tr>
                <td>{{ x['_id'] }}</td>
                <td>{{ x['title'] }}</td>
                <td>{{ x['desc'] }}</td>
                <td>{{ x['author'] }}</td>
                <td class="time">{{ x['create_at'] }}</td>
                <td>
                    <a href="/edit/{{ x['_id'] }}"><button>편집</button></a>
                    <a href="/delete/{{ x['_id'] }}"><button onclick="return confirm('정말 삭제 하시겠습니까?')">삭제</button></a>
                </td>
            </tr>
            {% endfor %}


        </tbody>

    </table>

    <script>
                
        timeData = document.getElementsByClassName('time')
        console.log(timeData)
        const boxLength = timeData.length;

        for (let index = 0; index < boxLength; index++) {
        // 각 box 요소 출력
        console.log(timeData[index].innerHTML);
        let date = new Date(timeData[index].innerHTML);
        console.log(date.getFullYear())
        textDate = `${date.getFullYear()}년 ${date.getMonth()}월 ${date.getDay()}일 ${date.getHours()}시 ${date.getMinutes()}분`
        timeData[index].innerHTML = textDate
        }

    </script>
</body>

</html>